*{
    margin: 0%;
    padding: 0%;
}

body{
    background-color: #1f1526;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding-bottom: 10%;
}
header{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 90%;
}
.rectangle {
    position: absolute;
    width: 99%;
    object-fit: cover;
}
.Banner{
   display: flex;
   justify-content: space-between;
   flex-direction: row;
   position: relative;
   width: 95%;
   margin-top: 3%;
}
.text-wrapper {
    height: 100%;
    position: relative;
    margin-top: 8%;
    left: -20%;
    background: linear-gradient(
      180deg,
      rgb(255, 255, 255) 0%,
      rgb(216.56, 150.17, 255) 100%
    );
    -webkit-background-clip: text !important;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Fustat", sans-serif;
    font-weight: 800;
    color: transparent;
    font-size:2em;
    letter-spacing: 0;
    line-height: 1.9rem;
  }
  
.leftPartBanner {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 3%;
    flex: 0 0 auto;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}
.Logo{
    height: 45%;
}

.pixel-pick {
    position: relative;
    width: fit-content;
    font-family: "Gasoek One", sans-serif;
    font-weight: 400;
    color: transparent;
    font-size: 1.8em;
    letter-spacing: 0;
    line-height: normal;
}
  
.span {
    color: #ffffff;
  }
  
.text-wrapper-2 {
    color: #a411fa;
}
  
.RightPartBanner{
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    flex: 0 0 auto;
    width: max-content;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    margin-right: 2%;
}
  
.consigue-una {
    position: relative;
    font-family: "Fustat", sans-serif;
    font-weight: 800;
    color: #e9c3ff;
    font-size: 0.86em;
    letter-spacing: 0;
    line-height: normal;
}
  
.mdi-steam {
    height: 45%;
    margin-left: 2%;
}

.recomendacionesDiv{
   display:flex;
   flex-direction: column;
   position: relative;
   width: 70%;
   margin-top: 7%;
   padding: 5%;
   border-radius: 1rem;
   background: radial-gradient(106.41% 60.53% at 95.4% 5.21%, rgba(255, 255, 255, 0.12) 0%, rgba(233, 196, 255, 0.12) 100%), radial-gradient(104.82% 62.41% at 95.68% 94.1%, rgba(255, 255, 255, 0.12) 0%, rgba(153, 153, 153, 0.00) 100%), radial-gradient(158.9% 82.77% at 12.12% 15.67%, rgba(255, 255, 255, 0.12) 0%, rgba(153, 153, 153, 0.00) 100%), radial-gradient(186.32% 100.08% at 4.87% 91.67%, rgba(255, 255, 255, 0.12) 0%, rgba(153, 153, 153, 0.00) 100%);
   height: max-content;
}
h2{
    font-family: "Fustat", sans-serif;
    font-size: 2rem;
    font-weight: 700;
    line-height: 0.95; /* 95.833% */
    color: white;
}
main{
    margin-top: 3%;
}
.Selectsdiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3%;
}
select{
    width: 80%;
    padding: 2%;
    font-family: "Fustat", sans-serif;
    font-size: 1rem;
    color: white;
    border-radius: 1rem;
    border: 1px solid #FFF;
    background: rgba(217, 217, 217, 0.40);
}
select option{
    background-color: #1f1526;
    color: white;
}
button{
    width: 30%;
    border: none;
    border-radius: 0.9rem;
    font-family: "Fustat", sans-serif;
    font-size: 1rem;
    color: white;
    background: #B22DFF;
    padding: 1.8%;
    margin-top: 3%;
}
button:hover {
    background-color: #d991f4; 
    transform: scale(1.05); 
}

button:active {
    transform: scale(0.95);
}
#recommendation-section{
    margin-top: 3%;
    font-family: "Fustat", sans-serif;
    color: white;
}
#recommendation-section h1{
    font-family: "Fustat", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
}
#recommendation-section h3{
    margin-top: 2%;
}

ul {
    font-family: "Fustat", sans-serif;
    list-style: none;
    padding: 0;
    margin: 1rem 0;
}

ul li {
    color: white;
    margin: 0.5rem 0;
    padding: 1rem;
    border: 1px solid #333; 
    border-radius: 10px; 
    transition: transform 0.2s ease, box-shadow 0.2s ease; 
}
