<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PixelPick</title>
    <link rel="stylesheet" href="/static/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fustat:wght@200..800&family=Gasoek+One&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <img class="rectangle" src="/static/img/rectangle _1.png" />
        <div class="Banner">
            <div class="leftPartBanner">
                <img class="Logo" src="/static/img/alien monster emoji.png" />
                <p class="pixel-pick"><span class="span">PIXEL</span> <span class="text-wrapper-2">PICK</span></p>
            </div>
            <div class="RightPartBanner">
                <div class="consigue-una">Consigue Una Recomendación</div>
                <img class="mdi-steam" src="/static/img/mdi_steam.svg" />
              </div>
        </div>
        <p class="text-wrapper">Recomendaciones <br />personalizadas para <br />gamers como tú</p>
    </header>
    <section class="recomendacionesDiv">
        <h2>Sistema de <br />Recomendación</h2>
        <main>
            <section id="user-section" class="usersection">
                <div class="Selectsdiv">
                    <select id="user-select">
                        <option value="">Selecciona el usuario que desees</option>
                        <!-- Opciones dinámicas -->
                      </select>
                      <select id="method-select">
                        <option value="">Selecciona un metodo</option>
                        <option value="average">Promedio</option>
                        <option value="minimum_misery">Minimum Misery</option>
                        <option value="maximum_pleasure">Maximum Pleasure</option>
                      </select>
                </div>
                <button id="get-recommendations">Obtener Recomendación</button>
            </section>

            <section id="recommendation-section">
                <h1>Recomendación:</h1>
              
                <h3>Top 10 videojuegos</h3>
                <ul id="top-videogames"></ul>
              
                <h3>Top 5 Categorias</h3>
                <ul id="top-categories"></ul>
              
                <h3>Top 5 Año de Lanzamiento</h3>
                <ul id="top-year"></ul>
              
                <h3>Top 3 Usuarios similares</h3>
                <ul id="similar-users"></ul>
              </section>
        </main>
    </section>
    <script src="/static/script.js"></script>
</body>
</html>